{{#howManyPerRow 3 musicArray}}
  <div class="columns is-4">
    <div class="card">
      <div class="card-image">
        <figure class="image is-4by3">
          <img src={{this.imgArt}} alt={{this.type}}>
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="http://bulma.io/images/placeholders/96x96.png" alt="Image">
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{this.artist}}</p>
            {{#if this.album}}
            <p class="subtitle is-6">album: {{this.album}}</p>
            {{else}}
            <p class="subtitle is-6">track: {{this.track}}</p>
            {{/if}}
          </div>
        </div>

        <div class="content">
          {{this.genre}}
        <br>
        <small>{{this.date}}</small>
      </div>
      </div>
    </div>
  </div>
{{/howManyPerRow}}
